<section>
    <div class="login-main">
        <div class="container">
            <div class="login-inr">
                <div class="login-header">
                    <a href="/">
                        <img src="assets/images/logo.svg" alt="logo">
                    </a>
                </div>
                <div class="login-form">
                    <form>
                        <ul>
                            <li>
                                <label class="inp-label">Username</label>
                                <input type="text" placeholder="Enter your username" class="input">
                            </li>
                            <li>
                                <label class="inp-label">Password</label>
                                <input type="password" placeholder="******" class="input">
                            </li>
                            <li>
                                <button type="submit" class="custom-btn">Login</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>