<lib-toastify-toast-container *ngIf="updateNoti"></lib-toastify-toast-container>
<div class="dashboard-body page-body patient-inr-page">
    <div class="page-head">
        <h2>Edit <b>Doctor</b></h2>
        <a (click)="onToggle(false)">
            <img src="assets/images/remove.svg" alt="">
        </a>
    </div>
    <div class="page-inr">
        <div class="edit-profile-form">
            <form [formGroup]="editDoctorForm" (submit)="updateDoctor()">
                <ul>
                    <li>
                        <label class="inp-label">Name</label>
                        <input type="text" formControlName="name" placeholder="Enter Your Name" class="input">
                        <div *ngIf="editDoctorForm.controls['name'].errors && editDoctorForm.controls['name'].invalid && (editDoctorForm.controls['name'].dirty || editDoctorForm.controls['name'].touched)" class="alert alert-danger">
                            <div *ngIf="editDoctorForm.controls['name'].errors.required">
                                Name is required.
                            </div>
                        </div>
                    </li>
                    <li>
                        <label class="inp-label">Occupation</label>
                        <input type="text" formControlName="ocupation" placeholder="Your Occupation" class="input">
                        <div *ngIf="editDoctorForm.controls['ocupation'].errors && editDoctorForm.controls['ocupation'].invalid && (editDoctorForm.controls['ocupation'].dirty || editDoctorForm.controls['ocupation'].touched)" class="alert alert-danger">
                            <div *ngIf="editDoctorForm.controls['ocupation'].errors.required">
                                Occupation is required.
                            </div>
                        </div>
                    </li>
                    <li>
                        <label class="inp-label">Contact No.</label>
                        <input type="number" formControlName="contact" placeholder="Enter Your Number" class="input">
                        <div *ngIf="editDoctorForm.controls['contact'].errors && editDoctorForm.controls['contact'].invalid && (editDoctorForm.controls['contact'].dirty || editDoctorForm.controls['contact'].touched)" class="alert alert-danger">
                            <div *ngIf="editDoctorForm.controls['contact'].errors.required">
                                Contact is required.
                            </div>
                            <div *ngIf="editDoctorForm.controls['contact'].errors.pattern">
                                Please Enter 10 digit Mobile Number.
                            </div>
                        </div>
                    </li>
                    <li>
                        <button type="submit" [disabled]="editDoctorForm.invalid" class="custom-btn">Update</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>