<div class="dashboard-body billing-modal">
    <div class="modal-head">
        <h2>Bill <b>Receipt</b></h2>
        <a (click)="onToggle(false)">
            <img src="assets/images/remove.svg" alt="">
        </a>
    </div>
    <div class="page-inr">
        <div class="billing-modal-sec">
            <div class="invoice-table" *ngIf="AllbillingData != undefined">
                <table class="invoice" width="100%">
                    <tr>
                        <td>
                            <table width="100%" cellspacing="5" style="padding:25px 0;border-bottom: 1px dashed #04A29B;">
                                <tr>
                                    <th align="left">
                                        Invoice:
                                    </th>
                                    <td colspan="2">
                                        INV{{AllbillingData.id}}
                                    </td>
                                    <th align="left">
                                        Date:
                                    </th>
                                    <td colspan="2">
                                        {{todaydate | date: 'MMM d, y'}}
                                    </td>
                                </tr>
                                <tr>
                                    <th align="left">
                                        Name:
                                    </th>
                                    <td colspan="2">
                                        {{AllbillingData.patientData.prefix + AllbillingData.patientData.first_name}}
                                    </td>
                                    <th align="left">
                                        Patient ID:
                                    </th>
                                    <td colspan="2">
                                        PDP{{AllbillingData.patientData.id}}
                                    </td>
                                </tr>
                                <tr>
                                    <th align="left">
                                        Age:
                                    </th>
                                    <td colspan="2">
                                        {{AllbillingData.patientData.age}} year (s) / {{AllbillingData.patientData.gender}}
                                    </td>
                                    <th align="left">
                                        Contact:
                                    </th>
                                    <td colspan="2">
                                        {{AllbillingData.patientData.contact}}
                                    </td>
                                </tr>
                                <tr>
                                    <th align="left">
                                        Address:
                                    </th>
                                    <td colspan="4">
                                        {{AllbillingData.patientData.address}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr cellspacing="12">
                        <td style="padding:25px 0;">
                            <table width="100%" cellspacing="0" cellpadding="12" style="border: 1px solid #70707033;
                        border-collapse: collapse;padding:25px 0;">
                                <thead style="background-color: #F5F5F5;">
                                    <tr style="border: 1px solid #70707033;">
                                        <th align="left ">#</th>
                                        <th align="left " colspan="2 ">Service Name</th>
                                        <th align="left ">
                                            Total (₹ )
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let sdata of AllbillingData.test; index as i" style="border: 1px solid #70707033;">
                                        <td>
                                            {{i+1}}
                                        </td>
                                        <td colspan="2 ">{{sdata.test_name}}</td>
                                        <td>{{sdata.price}}</td>
                                    </tr>

                                    <tr style="border: 1px solid #70707033;">
                                        <td colspan="3 " align="right ">
                                            <font color="#04A29B" style="font-weight: 700;">Total:</font>
                                        </td>
                                        <td>
                                            <font color="#04A29B" style="font-weight: 700;">₹ {{total}}</font>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="print-btn">
                <button class="custom-btn">Print</button>
            </div>
        </div>
    </div>
</div>