@import "./fonts.scss";
@import "./custom.scss";
@import "./responsive.scss";
body {
    margin: 0;
    background: #F5F5F5;
    font-family: 'Proxima Nova';
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0 !important;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

*:hover {
    transition: 300ms all;
    text-decoration: none !important;
}

*:focus {
    outline: none !important;
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.container {
    max-width: 1400px;
    margin: auto;
    padding: 0 20px;
}

.inp-label {
    font-size: 18px;
    line-height: 22px;
    display: block;
    color: #000;
    font-weight: 400;
    margin-bottom: 10px;
}

.input,
.textarea {
    width: 100%;
    background-color: #FAFAFA;
    height: 55px;
    border-radius: 5px;
    border: 1px solid #C9C9C9;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 55px;
    font-family: 'Proxima Nova';
}

.textarea {
    line-height: 20px;
    resize: none;
    height: 110px;
    font-family: 'Proxima Nova';
}

select {
    appearance: none;
    background-image: url(../images/ionic-ios-arrow-forward.svg);
    background-position: center right;
    background-repeat: no-repeat;
    background-origin: content-box;
    width: 100%;
    background-color: #FAFAFA;
    height: 55px;
    border-radius: 5px;
    border: 1px solid #C9C9C9;
    padding: 0px 20px;
    font-size: 16px;
    line-height: 55px;
    font-family: 'Proxima Nova';
    padding-right: 10px !important;
}

.alert-danger {
    color: #ff1515;
}

.custom-btn {
    padding: 15px 30px;
    border: 0;
    border-radius: 5px;
    height: 55px;
    color: #fff;
    font-size: 20px;
    background-image: linear-gradient(to right, #2d2668, #03a39b);
    display: block;
    text-align: center;
    font-weight: 500;
    min-width: 150px;
    max-width: 100%;
    transition: 300ms all;
}

.custom-btn:hover {
    opacity: 0.9;
}

form li {
    padding-bottom: 20px;
}

body.open {
    height: 100vh;
    overflow: hidden;
}

@media(max-width:1500px) {
    .custom-btn {
        padding: 12px 25px;
        height: 45px;
        font-size: 15px;
    }
    .input,
    .textarea,
    select {
        height: 45px;
        font-size: 15px;
        line-height: 45px;
    }
    .textarea {
        line-height: 20px;
        height: 110px;
    }
    .inp-label {
        font-size: 15px;
        line-height: 20px;
    }
}

@media(max-width:767px) {
    .custom-btn {
        min-width: 100px;
        padding: 10px 20px;
        height: 38px;
    }
    .input,
    .textarea,
    select {
        height: 40px;
        font-size: 14px;
        line-height: 40px;
    }
    form li {
        padding-bottom: 10px;
    }
}