<main class="wrapper-main">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content-main">
        <div class="dashboard-body page-body">
            <div class="page-head">
                <h2>Patient <b>List</b></h2>
                <button class="custom-btn" (click)="DisplayPatient()">Add New Patient</button>
            </div>
            <div class="page-inr">
                <div class="patient-list-sec">
                    <div class="table-filter">

                    </div>
                    <div class="datatable">
                        <div class="card-body">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">

                                        <input #search id="search" type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" />
                                    </div>
                                    <div class="col-md-4">
                                        <select id="position-select" (change)="changeLimit($event)">
                                    <option [value]="6">6</option>
                                    <option [value]="7">7</option>
                                    <option [value]="8">8</option>
                                    <option [value]="9">9</option>
                                  </select>

                                        <!-- <a csvLink [data]="medicinedata">Export as csv</a> -->
                                    </div>
                                </div>
                            </div>
                            <div>
                                <ngx-datatable [rows]="medicinedata" class="material expandable" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="limit" [count]="count" [offset]="offset" [selected]="selected" [selectAllRowsOnPage]="false" (activate)="onActivate($event)"
                                    (select)='onSelect($event)' (page)="onPage($event)">
                                    <ngx-datatable-column name="Sr no">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{medicinedata.indexOf(row)+1}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <!-- <ngx-datatable-column *ngFor="let col of columns" [name]="col.name" [prop]="col.prop" [width]="col.width"></ngx-datatable-column> -->
                                    <ngx-datatable-column [sortable]="true" prop="first_name">
                                        <ng-template let-column="column" ngx-datatable-header-template>
                                            Name
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.prefix + row.first_name + row.last_name}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column>
                                        <ng-template let-column="column" ngx-datatable-header-template>
                                            Gender/age
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.gender +'/'+ row.age}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column>
                                        <ng-template let-column="column" ngx-datatable-header-template>
                                            Registered On
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.created_at}}
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column>
                                        <ng-template let-column="column" ngx-datatable-header-template>
                                            Patient ID
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{'PDP'+row.id}}
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column>
                                        <ng-template let-column="column" ngx-datatable-header-template>
                                            Contact No.
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.contact}}
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column>
                                        <ng-template let-column="column" ngx-datatable-header-template>
                                            Actions
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            Edit
                                        </ng-template>
                                    </ngx-datatable-column>




                                </ngx-datatable>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<app-add-new-patient (onTogglePatient)="toggleDisplayAddPatient($event)" *ngIf="displayAddPatient" class="custom-temp" [class.extra-sparkle]="displayAddPatient == true"></app-add-new-patient>

<app-edit-patient *ngIf="displayEditPatient" class="custom-temp"></app-edit-patient>
<app-billing *ngIf="displayBillingPatient" class="custom-temp"></app-billing>