::ng-deep {
    .ngx-datatable .datatable-body {
        max-height: calc(100vh - 570px) !important;
        overflow: hidden auto;
        border-left: 1px solid #Ddd;
        border-right: 1px solid #Ddd;
    }
    // .tooltip.new-tooltip-class {
    //     background-color: #7A7A7A;
    //     border: 1px solid #4D4D4D;
    // }
}

@media(max-width:1500px) {
     ::ng-deep {
        .ngx-datatable .datatable-body {
            max-height: calc(100vh - 450px) !important;
        }
    }
}

@media(max-width:1024px) {
     ::ng-deep {
        .ngx-datatable .datatable-body {
            max-height: calc(100vh - 520px) !important;
        }
    }
}

@media(max-width:767px) {
     ::ng-deep {
        .ngx-datatable .datatable-body {
            max-height: calc(100vh - 460px) !important;
        }
    }
}