<main class="wrapper-main">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content-main">
        <div class="dashboard-body page-body">
            <div class="page-head">
                <h2>Patient <b>List</b></h2>
                <button class="custom-btn" (click)="toggleDisplayAddPatient()">Add New Patient</button>
            </div>
            <div class="page-inr">
                <div class="patient-list-sec">
                    <div class="table-filter">

                    </div>
                    <div class="datatable">
                        <!-- <ngx-datatable #table class="bootstrap ngx-datatable" [attr.columns]="columns" [attr.rows]="rows" [headerHeight]="35" [rowHeight]="'auto'" [footerHeight]="50" [limit]="10">
                        </ngx-datatable> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<app-add-new-patient *ngIf="displayAddPatient" class="custom-temp"></app-add-new-patient>

<app-edit-patient *ngIf="displayEditPatient" class="custom-temp"></app-edit-patient>
<app-billing *ngIf="displayBillingPatient" class="custom-temp"></app-billing>