<div class="dashboard-body page-body patient-inr-page">
    <div class="page-head">
        <h2>Add New <b>Patient</b></h2>
        <a (click)="onToggle(false)">
            <img src="assets/images/remove.svg" alt="">
        </a>
    </div>
    <div class="page-inr">
        <div class="add-patient-form">
            <form [formGroup]="addPatientForm" (submit)="addPatient()" novalidate>
                <ul>
                    <li>
                        <label class="inp-label">Prefix<span class="required">*</span></label>
                        <select class="select" formControlName="prefix" name="prefix">
                           <option>Mr</option>
                       </select>
                        <div *ngIf="addPatientForm.controls['prefix'].errors && addPatientForm.controls['prefix'].invalid && (addPatientForm.controls['prefix'].dirty || addPatientForm.controls['prefix'].touched)" class="alert alert-danger">
                            <div *ngIf="addPatientForm.controls['prefix'].errors.required">
                                Prefix is required.
                            </div>

                        </div>
                    </li>
                    <li class="width-85">
                        <label class="inp-label">Full Name</label>
                        <input type="text" placeholder="Full Name" class="input" formControlName="first_name" name="first_name">
                        <div *ngIf="addPatientForm.controls['first_name'].errors && addPatientForm.controls['first_name'].invalid && (addPatientForm.controls['first_name'].dirty || addPatientForm.controls['first_name'].touched)" class="alert alert-danger">
                            <div *ngIf="addPatientForm.controls['first_name'].errors.required">
                                Name is required.
                            </div>

                        </div>
                    </li>
                    <li class="width-50">
                        <label class="inp-label">Gender<span class="required" >*</span></label>
                        <select class="select" formControlName="gender" name="gender">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                        <div *ngIf="addPatientForm.controls['gender'].errors && addPatientForm.controls['gender'].invalid && (addPatientForm.controls['gender'].dirty || addPatientForm.controls['gender'].touched)" class="alert alert-danger">
                            <div *ngIf="addPatientForm.controls['gender'].errors.required">
                                Gender is required.
                            </div>

                        </div>
                    </li>
                    <li class="width-50">
                        <label class="inp-label">Age<span class="required">*</span></label>
                        <input type="number" class="input" formControlName="age" name="age">
                        <div *ngIf="addPatientForm.controls['age'].errors && addPatientForm.controls['age'].invalid && (addPatientForm.controls['age'].dirty || addPatientForm.controls['age'].touched)" class="alert alert-danger">
                            <div *ngIf="addPatientForm.controls['age'].errors.required">
                                Age is required.
                            </div>

                        </div>
                    </li>
                    <li>
                        <label class="inp-label">Contact No.</label>
                        <input type="text" placeholder="Enter Contact No." class="input" formControlName="contact" name="contact">
                        <div *ngIf="addPatientForm.controls['contact'].errors && addPatientForm.controls['contact'].invalid && (addPatientForm.controls['contact'].dirty || addPatientForm.controls['contact'].touched)" class="alert alert-danger">
                            <div *ngIf="addPatientForm.controls['contact'].errors.required">
                                Contact is required.
                            </div>

                        </div>
                    </li>
                    <li>
                        <label class="inp-label">Patient Address.</label>
                        <textarea placeholder="Enter Patient Address" class="input textarea" formControlName="address" name="address"></textarea>
                        <div *ngIf="addPatientForm.controls['address'].errors && addPatientForm.controls['address'].invalid && (addPatientForm.controls['address'].dirty || addPatientForm.controls['address'].touched)" class="alert alert-danger">
                            <div *ngIf="addPatientForm.controls['address'].errors.required">
                                Address is required.
                            </div>

                        </div>
                    </li>
                    <li>
                        <button type="submit" class="custom-btn" [disabled]="addPatientForm.invalid">Register & Billing</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>