<div class="dashboard-body page-body patient-inr-page">
    <div class="page-head">
        <h2>Add New <b>Patient</b></h2>
        <a routerLink="/patient">
            <img src="assets/images/remove.svg" alt="">
        </a>
    </div>
    <div class="page-inr">
        <div class="add-patient-form">
            <form>
                <ul>
                    <li>
                        <label class="inp-label">Prefix<span class="required">*</span></label>
                        <select class="select">
                           <option>Mr</option>
                       </select>
                    </li>
                    <li class="width-85">
                        <label class="inp-label">Full Name</label>
                        <input type="text" placeholder="Full Name" class="input">
                    </li>
                    <li class="width-50">
                        <label class="inp-label">Gender<span class="required">*</span></label>
                        <select class="select">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </li>
                    <li class="width-50">
                        <label class="inp-label">Age<span class="required">*</span></label>
                        <input type="date" class="input">
                    </li>
                    <li>
                        <label class="inp-label">Contact No.</label>
                        <input type="text" placeholder="Enter Contact No." class="input">
                    </li>
                    <li>
                        <label class="inp-label">Contact No.</label>
                        <textarea placeholder="Enter Patient Address" class="input textarea"></textarea>
                    </li>
                    <li>
                        <button type="submit" class="custom-btn">Register & Billing</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>