.active-link .default-img {
    display: none;
}

.active-img {
    display: none;
}

.active-link .active-img {
    display: inline;
}

.sidebar-menu a {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #000;
}

.sidebar-menu .active-link a {
    color: #04a29b;
    background: hsl(177deg 95% 33% / 5%);
}

.sidebar-menu a span {
    padding-left: 20px;
}

.sidebar-menu img {
    max-width: 30px;
    min-width: 30px;
}

.sidebar-head {
    padding: 10px 10px 30px;
    text-align: center;
}

.sidebar-head img {
    max-width: 200px;
}

.menu-ul {
    height: calc(100vh - 200px);
    overflow-y: auto;
}

.logout-btn .custom-btn {
    justify-content: center;
    color: #fff;
}

@media(max-width:1500px) {
    .sidebar-head img {
        max-width: 140px;
    }
    .sidebar-menu a {
        font-size: 16px;
        padding: 16px;
    }
}

@media(max-width:1024px) {
    .menu-button {
        top: 25px;
        min-width: 20px;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        position: absolute;
        right: 20px;
        z-index: 9;
        background: #fff !important;
        display: block;
    }
    .menu-button span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #059e99;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate( 0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate( 0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }
    .menu-button span:nth-child(1) {
        top: 0;
    }
    .menu-button span:nth-child(2) {
        top: 6px;
        -webkit-animation: nav-icon-bg 3s infinite;
        -moz-animation: nav-icon-bg 3s infinite;
        -o-animation: nav-icon-bg 3s infinite;
        animation: nav-icon-bg 3s infinite;
    }
    .menu-button span:nth-child(3) {
        top: 12px;
    }
    .menu-button.open span:nth-child(1) {
        top: 6px;
        -webkit-transform: rotate( 135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate( 135deg);
        background: #fff;
    }
    .menu-button.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }
    .menu-button.open span:nth-child(3) {
        top: 6px;
        -webkit-transform: rotate( -135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate( -135deg);
        background: #fff;
    }
    .sidebar-menu {
        z-index: 999;
        display: block;
        align-items: inherit;
        position: fixed;
        left: 0;
        top: 0px;
        width: 200px;
        background: white;
        height: 100%;
        box-shadow: 0 0 10px rgb(0 0 0 / 10%);
        overflow: auto;
        -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 10%);
        box-shadow: 0 0 10px rgb(0 0 0 / 10%);
        -webkit-font-smoothing: antialiased;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: translate(-120%, 0);
        transform: translate(-120%, 0);
        -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
    .sidebar-head {
        padding: 10px 20px 30px;
        text-align: left;
    }
    .open .sidebar-menu {
        transform: translate(0);
    }
    .overlay-close {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7215686274509804);
        left: 0;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 9;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: 300ms all;
        transition: 300ms all;
    }
    .open .overlay-close {
        opacity: 1;
        visibility: visible;
    }
    .menu-ul {
        height: calc(100vh - 65px);
    }
    .logout-btn {
        margin: 0 10px !important;
    }
}