<!-- <div id="nav-icon"> <span></span> <span></span> <span></span> </div> -->
<div class="sidebar-main">
    <div class="sidebar-inr">
        <div class="sidebar-head">
            <a href="/">
                <img src="assets/images/logo.svg" alt="logo">
            </a>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li routerLinkActive="active-link">
                    <a href="" routerLink="/dashboard">
                        <img class="default-img" src="/assets/images/home.svg" alt="">
                        <img class="active-img" src="/assets/images/home-active.svg" alt="">
                        <span>Home</span>
                    </a>
                </li>
                <li routerLinkActive="active-link">
                    <a href="" routerLink="/patient">
                        <img class="default-img" src="/assets/images/patient.svg" alt="">
                        <img class="active-img" src="/assets/images/patient-active.svg" alt="">
                        <span>Patient</span>
                    </a>
                </li>
                <li routerLinkActive="active-link">
                    <a href="" routerLink="/report">
                        <img class="default-img" src="/assets/images/report.svg" alt="">
                        <img class="active-img" src="/assets/images/report-active.svg" alt="">
                        <span>Report</span>
                    </a>
                </li>
                <li routerLinkActive="active-link">
                    <a href="" routerLink="/profile">
                        <img class="default-img" src="/assets/images/setting.svg" alt="">
                        <img class="active-img" src="/assets/images/setting-active.svg" alt="">
                        <span>Setting </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <ul class="logout-btn">
        <li>
            <a href="javascript:void(0)" (click)="logout()" class="custom-btn">Log Out</a>
        </li>
    </ul>
</div>