<lib-toastify-toast-container *ngIf="mainDoctorToast"></lib-toastify-toast-container>
<main class="wrapper-main">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content-main">
        <div class="dashboard-body page-body">
            <div class="page-head">
                <h2>Manage your <b>Lab</b></h2>
                <button class="custom-btn" (click)="displayAdDoctor()"> Add Doctor</button>
            </div>
            <div class="page-inr page-border">
                <div class="report-list-sec">
                    <div class="test-list-sec">
                        <div class="test-list-inr">
                            <div class="tab-list-head">
                                <ul class="nav-tabs">
                                    <li>
                                        <a class="nav-link" routerLink="/profile">Profile</a>
                                    </li>
                                    <li>
                                        <a class="nav-link active" routerLink="/doctor">Doctor</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" routerLink="/test">Test</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-list-body">
                                <div class="tab-body-inr">
                                    <div class="datatable">
                                        <div class="datatable-inr">
                                            <div class="table-filter">
                                                <div class="col-md-8">
                                                    <input #search id="search" type="text" class="input" placeholder="Search Doctor" />
                                                </div>
                                                <div class="col-md-4">
                                                    Show
                                                    <select id="position-select" (change)="changeLimit($event)" class="select">
                                                        <option [value]="5">5</option>
                                                        <option [value]="10">10</option>
                                                        <option [value]="20">20</option>
                                                        <option [value]="50">50</option>
                                                    </select> Patient
                                                </div>
                                            </div>
                                            <div class="datable-body">
                                                <ngx-datatable [rows]="dataall" [columnMode]="'force'" class="material expandable res-datatable" [headerHeight]="80" [footerHeight]="80" [rowHeight]="'auto'" [limit]="limit" [offset]="offset" [selected]="selected" [scrollbarH]="true" [selectAllRowsOnPage]="false"
                                                    (activate)="onActivate($event)" (select)='onSelect($event)' (page)="onPage($event)" [loadingIndicator]="loadingIndicator">
                                                    <ngx-datatable-column name="#" [width]="30">
                                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                                            {{dataall.indexOf(row)+1}}
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                    <ngx-datatable-column [sortable]="true" prop="first_name">
                                                        <ng-template let-column="column" ngx-datatable-header-template>
                                                            Name
                                                        </ng-template>
                                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                                            {{row.name}}
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                    <ngx-datatable-column>
                                                        <ng-template let-column="column" ngx-datatable-header-template>
                                                            Occupation
                                                        </ng-template>
                                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                                            {{row.ocupation}}
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                    <ngx-datatable-column>
                                                        <ng-template let-column="column" ngx-datatable-header-template>
                                                            Contact
                                                        </ng-template>
                                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                                            +91 {{row.contact}}
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                    <ngx-datatable-column>
                                                        <ng-template let-column="column" ngx-datatable-header-template>
                                                            Actions
                                                        </ng-template>
                                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                                            <span class="edit-icon" (click)="editDoctor(row)">
                                                                <img src="assets/images/pencil.svg" alt="">
                                                            </span>
                                                            <span class="delete-icon" (click)="deleteDoctor(row.id)">
                                                                <img src="assets/images/trash.svg" alt="">
                                                            </span>
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                </ngx-datatable>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<app-edit-doctor [events]="eventsSubject.asObservable()" class="custom-temp" (onToggleDoctor)="toggleDisplayEditDoctor($event)" [class.extra-sparkle]="displayEditDoctor == true">
</app-edit-doctor>
<app-add-new-doctor class="custom-temp" (onToggleDoctor)="toggleDisplayAddDoctor($event)" [class.extra-sparkle]="displayAddDoctor == true"></app-add-new-doctor>