<div class="dashboard-body page-body patient-inr-page">
    <div class="page-head">
        <h2><b>Billing</b></h2>
        <a href="" routerLink="/patient">
            <img src="assets/images/remove.svg" alt="">
        </a>
    </div>
    <div class="page-inr">
        <div class="add-patient-form">
            <form>
                <div class="patient-name-sec">
                    <div class="name-sec-inr">
                        <div class="name-sec-left">
                            <div class="name-icon">
                                <h3>Ak</h3>
                            </div>
                            <div class="patient-name">
                                <h3>Mr Ashrof Khan</h3>
                                <div class="patient-dtl">
                                    <p><span></span> 55</p>
                                    <p><span></span> Male</p>
                                </div>
                            </div>
                        </div>
                        <div class="name-sec-right">
                            <p><span></span> 15 Feb 2021</p>
                            <p><span></span> 9876543210</p>
                        </div>
                    </div>
                </div>
                <ul>
                    <li class="width-50">
                        <label class="inp-label">Referred By:</label>
                        <select class="select">
                            <option>Select Doctor</option>
                        </select>
                    </li>
                    <li class="width-50">
                        <label class="inp-label">Tests:</label>
                        <select class="select">
                            <option>Select Test</option>
                        </select>
                    </li>
                </ul>
                <div class="select-test-sec">
                    <ul>
                        <li>
                            <h4><span></span> Complete Blood Count (CBC)</h4>
                            <p>₹ 100</p>
                        </li>
                        <li>
                            <h4><span></span> Complete Blood Count (CBC)</h4>
                            <p>₹ 100</p>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>