.patient-name-sec {
    background: rgb(4 162 155 / 5%);
    border: 1px dashed #04A29B;
    border-radius: 10px;
    padding: 0px 20px 15px;
}

.name-sec-inr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.name-sec-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.name-icon {
    background: #04A29B;
    width: 53px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 15px;
}

.name-icon h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}

.patient-name h3 {
    color: #04A29B;
    font-weight: 600;
}

.patient-name {
    padding: 15px 10px 0;
}

.patient-dtl {
    display: flex;
    padding-top: 8px;
}

.patient-dtl p {
    margin-right: 15px;
}

.name-sec-right div {
    padding-top: 15px;
}

.name-sec-right p {
    line-height: 28px;
}

.test-sec {
    padding: 40px 0 0;
}

.select-test-sec li {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    position: relative;
    border-bottom: 1px dashed rgb(0 0 0 / 10%);
    padding-left: 40px;
}

.select-test-sec li:after {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    background: url(../../../../assets/images/check-mark.svg);
    background-size: contain;
    background-position: center;
    width: 25px;
    height: 25px;
}

.select-test-sec {
    margin: 15px 0;
    max-height: 250px;
    overflow: auto;
}

.total-sec h4 {
    color: #04a29b;
    font-size: 20px;
}

.total-sec {
    text-align: right;
    padding: 15px 0;
}

.billing-btn {
    margin: 40px 0 0 0;
    .custom-btn {
        width: 100%;
    }
}

::ng-deep {
    .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
        background: #04a29b !important;
    }
    .multiselect-item-checkbox input[type=checkbox]+div:before {
        color: #04a29b !important;
        border: 2px solid #04a29b !important;
    }
    .multiselect-dropdown .dropdown-btn .selected-item {
        border: 1px solid #04a29b !important;
        background: #04a29b !important;
        line-height: 30px;
    }
    .multiselect-dropdown .dropdown-btn {
        background-color: #FAFAFA;
        height: 55px;
        border-radius: 5px !important;
        border: 1px solid #C9C9C9 !important;
        padding: 0px 20px !important;
        font-size: 16px;
        line-height: 55px !important;
        font-family: "Proxima Nova";
        padding-right: 10px !important;
        display: flex !important;
        align-items: center;
    }
    .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
        background-image: url(../../../../assets/images/ionic-ios-arrow-forward.svg);
        background-position: center right;
        background-repeat: no-repeat;
        background-origin: content-box;
        height: 55px !important;
        right: 3px !important;
    }
    .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret:before {
        display: none;
    }
    .multiselect-dropdown .dropdown-btn .dropdown-multiselect--active .dropdown-multiselect__caret {
        transform: rotate(0) !important;
    }
    .dropdown-list {
        margin-top: 0 !important;
        box-shadow: none !important;
    }
}

@media(max-width:1500px) {
    .name-sec-right {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .name-sec-right div {
        margin-right: 8px;
    }
    .name-sec-left {
        width: 100%;
    }
     ::ng-deep {
        .multiselect-dropdown .dropdown-btn {
            height: 45px;
            line-height: 45px !important;
        }
        .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
            height: 45px !important;
        }
    }
}

@media(max-width:767px) {
    .name-icon {
        width: 40px;
        height: 40px;
    }
    .name-icon h3 {
        font-size: 15px;
    }
    .patient-name h3 {
        font-size: 16px;
        line-height: 22px;
    }
    .billing-btn {
        margin: 10px 0 0 0;
    }
    .total-sec h4 {
        font-size: 16px;
    }
    .multiselect-dropdown .dropdown-btn {
        height: 40px;
        line-height: 40px !important;
    }
}