<div class="dashboard-body page-body patient-inr-page">
    <div class="page-head">
        <h2><b>Billing</b></h2>
        <a (click)="onToggle(false)">
            <img src="assets/images/remove.svg" alt="">
        </a>
    </div>

    <div class="page-inr">
        <div class="billing-form">
            <form [formGroup]="billingForm">
                <div class="patient-name-sec" *ngIf="receivedBillingData.length != 0">
                    <div class="name-sec-inr">
                        <div class="name-sec-left">
                            <div class="name-icon">
                                <h3>{{receivedBillingData.first_name[0]+receivedBillingData.last_name[0]}}</h3>
                            </div>
                            <div class="patient-name">
                                <h3>{{receivedBillingData.prefix+' '+receivedBillingData.first_name+' '+receivedBillingData.last_name}}</h3>
                                <div class="patient-dtl">
                                    <p>
                                        <span>
                                        <img src="assets/images/feather-calendar.svg" alt="">
                                    </span> {{receivedBillingData.age}}
                                    </p>
                                    <p>
                                        <span>
                                            <img src="assets/images/feather-user.svg" alt="">
                                        </span> {{receivedBillingData.gender}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="name-sec-right">
                            <div *ngIf="receivedBillingData.created_at != undefined; else elseBlock">
                                <p>
                                    <span>
                                        <img src="assets/images/feather-clock.svg" alt=""> 
                                    </span> {{receivedBillingData.created_at | date: 'dd/MM/yyyy' }}
                                </p>
                            </div>
                            <ng-template #elseBlock>
                                <p>
                                    <span>
                                        <img src="assets/images/feather-clock.svg" alt=""> 
                                    </span> {{todayDate | date: 'dd/MM/yyyy' }}
                                </p>
                            </ng-template>


                            <p>
                                <span>
                                    <img src="assets/images/feather-phone-call.svg" alt=""> 
                                </span> {{receivedBillingData.contact}}
                            </p>
                        </div>
                    </div>
                </div>
                <ul class="test-sec">
                    <li class="width-50">
                        <label class="inp-label">Referred By:</label>
                        <select class="select">
                            <option>Select Doctor</option>
                        </select>
                    </li>
                    <li class="width-50">
                        <label class="inp-label">Tests:</label>
                        <ng-multiselect-dropdown name="tests" [placeholder]="'Select City'" [data]="tests" formControlName="tests" [disabled]="disabled" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)">
                        </ng-multiselect-dropdown>
                    </li>
                </ul>
                <div class="select-test-sec">
                    <ul>
                        <li>

                        </li>
                        <li>
                            <h4><span></span> Complete Blood Count (CBC)</h4>
                            <p>₹ 100</p>
                        </li>
                        <li>
                            <h4><span></span> Complete Blood Count (CBC)</h4>
                            <p>₹ 100</p>
                        </li>
                    </ul>
                </div>
                <div class="total-sec">
                    <h4>Total: <span class="total">₹ 200</span></h4>
                </div>
                <div class="billing-btn">
                    <button type="submit" class="custom-btn">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>