<div class="dashboard-body page-body patient-inr-page">
    <div class="page-head">
        <h2><b>Billing</b></h2>
        <a (click)="onToggle(false)">
            <img src="assets/images/remove.svg" alt="">
        </a>
    </div>
    <div class="page-inr">
        <div class="billing-form">
            <form [formGroup]="billingForm" (submit)="addBilling()">
                <div class="patient-name-sec" *ngIf="receivedBillingData.length != 0">
                    <div class="name-sec-inr">
                        <div class="name-sec-left">
                            <div class="name-icon">
                                <h3>{{receivedBillingData.fl}}</h3>

                            </div>
                            <div class="patient-name">
                                <h3>{{receivedBillingData.prefix+' '+receivedBillingData.first_name}}</h3>
                                <div class="patient-dtl">
                                    <p>
                                        <span>
                                        <img src="assets/images/feather-calendar.svg" alt="">
                                    </span> {{receivedBillingData.age}}
                                    </p>
                                    <p>
                                        <span>
                                            <img src="assets/images/feather-user.svg" alt="">
                                        </span> {{receivedBillingData.gender}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="name-sec-right">
                            <div *ngIf="receivedBillingData.created_at != undefined; else elseBlock">
                                <p>
                                    <span>
                                        <img src="assets/images/feather-clock.svg" alt=""> 
                                    </span> {{receivedBillingData.created_at | date: 'dd/MM/yyyy' }}
                                </p>
                            </div>

                            <ng-template #elseBlock>
                                <p>
                                    <span>
                                        <img src="assets/images/feather-clock.svg" alt=""> 
                                    </span> {{todayDate | date: 'dd/MM/yyyy' }}
                                </p>
                            </ng-template>
                            <div>
                                <p>
                                    <span>
                                    <img src="assets/images/feather-phone-call.svg" alt=""> 
                                </span> {{receivedBillingData.contact}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="test-sec">
                    <li class="width-50">
                        <label class="inp-label">Referred By:</label>
                        <select class="select" formControlName="name" name="name">
                            <option>Select Doctor</option>
                            <option *ngFor="let doctors of allDoctor">{{doctors.name}}</option>
                        </select>

                    </li>

                    <input type="hidden" formControlName="patients_id" name="patients_id" />
                    <li class="width-50">
                        <label class="inp-label">Tests:</label>
                        <ng-multiselect-dropdown [settings]="dropdownSettings" name="tests" [placeholder]="'Select Test'" [data]="tests" formControlName="test" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">>
                        </ng-multiselect-dropdown>
                        <div *ngIf="billingForm.controls['test'].errors && billingForm.controls['test'].invalid && (billingForm.controls['test'].dirty || billingForm.controls['test'].touched)" class="alert alert-danger">
                            <div *ngIf="billingForm.controls['test'].errors.required">
                                Test is required.
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="select-test-sec">
                    <ul>
                        <li *ngFor="let tests of selectedTests">
                            <h4><span>{{tests.test_name}}</span></h4>
                            <p>₹ {{tests.price}}</p>
                        </li>
                    </ul>
                </div>
                <div *ngIf="selectedTests.length != 0" class="total-sec">
                    <h4>Total: <span class="total">₹ {{total}}</span></h4>
                </div>
                <div class="billing-btn">
                    <button type="submit" class="custom-btn" [disabled]="billingForm.invalid">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-billing-modal [events]="eventsSubject.asObservable()" (onToggleBilling)="toggleDisplayBillingPopup($event)" class="custom-temp" [class.extra-sparkle1]="displayBillingPopup == true"></app-billing-modal>