<div class="page-head">
    <h2>Good morning! <b>Nilesh</b></h2>
</div>
<div class="page-inr">
    <h3>Today's <b class="color-green">Report</b></h3>
    <div class="report-sec">
        <div class="report-box first">
            <h4>Total Test </h4>
            <h1 class="report-value">20</h1>
        </div>
        <div class="report-box second">
            <h4>In Progress Test </h4>
            <h1 class="report-value">3</h1>
        </div>
        <div class="report-box third">
            <h4>Completed Test </h4>
            <h1 class="report-value">17</h1>
        </div>
    </div>
</div>