.add-para .custom-btn {
    margin-left: auto;
}

.add-test-sec table {
    width: 100%;
    text-align: left;
}

.add-test-sec tbody tr {
    border-bottom: 1px dashed #000;
    padding: 10px 0;
    height: 40px;
}

.add-test-sec td,
.add-test-sec th {
    padding: 10px;
}