<div class="dashboard-body page-body patient-inr-page">
    <div class="page-head">
        <h2>Edit <b>Test</b></h2>
        <a (click)="onToggle(false)">
            <img src="assets/images/remove.svg" alt="">
        </a>
    </div>
    <div class="page-inr">
        <div class="edit-profile-form">
            <form [formGroup]="editTestForm" (submit)="updateTest()">
                <ul>
                    <li>
                        <label class="inp-label">Test Name</label>
                        <input type="text" formControlName="test_name" placeholder="Test Name" class="input">
                        <div *ngIf="editTestForm.controls['test_name'].errors && editTestForm.controls['test_name'].invalid && (editTestForm.controls['test_name'].dirty || editTestForm.controls['test_name'].touched)" class="alert alert-danger">
                            <div *ngIf="editTestForm.controls['test_name'].errors.required">
                                Test name is required.
                            </div>
                        </div>
                    </li>
                    <li>
                        <label class="inp-label">Test Price</label>
                        <input type="number" formControlName="price" placeholder="Test Price" class="input">
                        <div *ngIf="editTestForm.controls['price'].errors && editTestForm.controls['price'].invalid && (editTestForm.controls['price'].dirty || editTestForm.controls['price'].touched)" class="alert alert-danger">
                            <div *ngIf="editTestForm.controls['price'].errors.required">
                                Test Price is required.
                            </div>
                        </div>
                    </li>
                    <li class="parameter-field">
                        <div class="para-name">
                            <label class="inp-label">Parameter Name</label>
                            <input type="text" formControlName="parameter_name" placeholder="Enter Test Parameter" class="input">

                        </div>
                        <div class="param-dtl">
                            <div>
                                <select class="select" formControlName="unit">
                                    <option selected value="">Unit</option>
                                    <option>mg/dl</option>
                                    <option>IU/L</option>
                                </select>

                            </div>
                            <div>
                                <textarea placeholder="Biological Reference Interval" class="input" formControlName="interval"></textarea>

                            </div>

                        </div>
                    </li>
                </ul>
                <div class="add-para">
                    <button type="button" (click)="addParameter()" class="custom-btn">Add Parameter</button>
                </div>
                <div class="add-test-sec">
                    <table>
                        <thead>
                            <tr>
                                <th>Parameters</th>
                                <th>Unit</th>
                                <th>Range</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let datapara of parameterAllData; index as i">
                                <td>
                                    {{datapara.parameter_name}}
                                </td>
                                <td>
                                    <span class="reg-span time">{{datapara.unit}}</span>
                                </td>
                                <td>
                                    {{datapara.min_range}}-{{datapara.max_range}}
                                </td>
                                <td>
                                    <span (click)="removeParameter(i,datapara)" class="remove-icon">X</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="add-test-btn">
                    <button type="submit" class="custom-btn" [disabled]="editTestForm.controls['test_name'].errors || editTestForm.controls['price'].errors">Update
                        Test</button>
                </div>
            </form>
        </div>
    </div>
</div>